*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}
button:focus{
    outline: none;
}
html {
    scroll-behavior: smooth;
  }
body a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #08723b; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
.header-father{
    width: 100%;
}
.header-father .header1{
    background: #373737;
    height: 52px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
}
.fa-sort-down{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #333333;
    font-size: 50px;
}
.header-father .header1 .left{
    display: flex;
}
.header-father .header1 .left i{
    margin-right: 10px;
    font-size: 20px;
    position: relative;
}
.header-father .header1 .btn-menu{
    display: none;
}
.header-father .header1 h1{
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}
.header1 .menu_social{
    display: flex;
    align-items: center;
}
.header1 .menu_social a{
    color: #fff;
    position: relative;
}
.header1 .menu_social > i:hover{
    color: #0c8044;
    transition: all .3s ease;
    transition-delay: .3s;
    
}

.header1 .menu_social i .tooltips{
    position: absolute;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    top: 200%;
    left: -25px;
    padding: 8px 10px;
    font-size: 1em;
    border-radius: 3px;
    width: auto;
    text-align: center;
    background: rgba(50, 51, 50, 0.8);
    font-family: 'Roboto';
    visibility: hidden;
    opacity: 0;
}
.header1 .menu_social i .tooltips{
    color: #fff;
}
.header1 .menu_social i .tooltips.active{
    animation: tooltips_animation .1s ease-out .1s forwards;
}
@keyframes tooltips_animation{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}
.header1 .menu_social .social{
    padding: 10px 20px;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
    margin: 30px;
}
.header1 .menu_social .social a:hover i{
    color: #08964d;
}
.header1 .menu_social .social i{
    margin: 0px 7px;
    cursor: pointer;
    transition: all .2s;
}
.header1 .menu_social .search_btn img{
    cursor: pointer;
    width: 22px;
}
.header-father .header2,
.menu_scroll{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    border-bottom: .5px solid #efefef;
}
.header-father .header2 .contenedor_img_logo{
    width: 30%;
}
.header-father .header2 .contenedor_img_logo img{
    /* width: 100%; */
    max-width: 480px;
    min-width: 128px;
}
.banner{
    width: 100%;
    position: relative;

}
.banner img{
    width: 100%;
    max-height: 300px;

}
.banner img.contacto{
    max-height: 650px;
}
.banner.sobre_nosotros{
    height: 500px;
    background-image: url(../img/donativo.jpg);
    background-size: cover;
}
.banner.sobre_nosotros .inf_clip{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    background: #0c8044;
    opacity: .8;
    width: 65%;
    height: 100%;
    color: #fff;
    padding: 30px;
    padding-right: 200px;
    position: relative;
}
.banner.sobre_nosotros .inf_clip h2{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 36px;
    margin: 20px 0px;
    text-shadow: 1px 3px 5px rgba(0,0,0,.35);

}
.banner.sobre_nosotros .inf_clip p{
    font-size: 20px;
    line-height: 30px;
    text-shadow: 1px 3px 5px rgba(0,0,0,.35);
}
.banner.sobre_nosotros .txt_dilo{
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #eeeeee;
    text-shadow: 1px 3px 5px #000000;
}
.menu{
    list-style: none;
    float: right;
    margin: 0;
}
.menu_movil{
    display: none;
}
.menu > li{
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}
.menu.foot > li{
    padding: 0px;
}
.menu li a{
    display: block;
    font-size: 16px;
    color: #555555;
    text-decoration: none;
    text-transform: uppercase;
}
.img_home_icon{
    width: 20px;
}
.menu li a:hover{
    color: #00ac53;
}
.menu li a.active{
    font-weight: bold;
    color: #00ac53;
}
.btn-main,
.column_info_button{
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    border: .5px solid #e0e0e2;
    background: none;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-main:active,
.column_info_button:active{
    transform: scale(.9);
}
.btn-main > i{
    padding-right: 10px;
    padding-left: -40px;
    font-size: 22px;
}
.btn-main:hover,
.column_info_button{
    background: #0c8044;
    color: #ffffff;
    border: .5px solid #0c8044;
    box-shadow: 1px 3px 5px rgba(0,0,0,.35);
}

.menu li .submenu{
    position: absolute;
    box-shadow: 1px 3px 5px rgba(0,0,0,.5);
    padding: 10px;
    width: 200px;
    left: -100%;
    z-index: 1000;
    background: #fff;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: all .3s ease;
}
.menu li:hover .submenu{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
.menu li .submenu li{
    display: block;
    width: 100%;
}
.menu li .submenu li a{
    text-transform: uppercase;
    padding: 5px 0px;
    margin: 3px 0px;
}
.panel_busqueda{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.panel_busqueda.active{
    opacity: 1;
    visibility: visible;
}
.buscador{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 2px 4px 20px rgba(0,0,0, 0.9);
    position: relative;
    /* overflow-y: scroll; */
    background-image: url('http://localhost/asonaema/img/home-bg-1.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.header_buscador{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('http://localhost/asonaema/img/home-bg-1.jpg');
    background-size: cover;
    background-position: center -225px; */
}
.header_buscador .title_buscador{
    font-size: 3em;
    color: #2a3b47;
    /* text-transform: capitalize; */
}

.cerrar_buscador{
    width: 30px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}
.input_group_buscador{
    border: 2px solid #dadbdd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 60%;
    height: 75px;
    border-radius: 5px;
    margin: auto;
    padding: 0px 20px;
    background: #e2e4e5;
    position: relative;
}
.input_group_buscador > i{
    font-size: 20px;
    position: absolute;
    left: 20px;
}
.input_group_buscador .cuadro_busqueda{
    height: 100%;
    width: 90%;
    border: none;
    background: none;
    outline: none;
    padding-left: 40px;
}

.btn_toggle_filtro {
    padding: 10px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    /* border: 1px solid #333; */
    position: absolute;
    height: 70%;
    border-radius: 3px;
    right: 0px;
}
.btn_toggle_filtro:hover{
    background: #cfd9e0;
}
.btn_toggle_filtro > *{
    margin: 0px 5px;
}
.btn_toggle_filtro img{
    width: 20px;
}
.img_searching_buscador{
    margin: auto;
    margin-top: 50px;
    width: 130px;
    opacity: .7;
    display: none;
}
.img_searching_buscador.active{
    display: block;

}


.pie_pagina{
    background: #333333;
    color: #cccccc;
}
.pie_pagina .cuerpo{
    width: 100%;
    padding: 20px;
    max-width: 1920px;
    margin: auto;
}
.pie_pagina .cuerpo > div:nth-child(2){
    padding: 0px;
    text-align: center;
}
.pie_pagina .cuerpo > div:nth-child(2) ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pie_pagina .cuerpo > div:nth-child(2) ul li{
    margin: 6px;
}
.pie_pagina .cuerpo > div:nth-child(2) ul li a{
    color: #eaeaea;
    transition: all .3s ease;
}
.pie_pagina .cuerpo > div:nth-child(2) ul li a:hover{
    color: #0c8044;
}
.pie_pagina .cuerpo .newsletter{
    padding: 20px 0px;
    text-align: center;
}
.pie_pagina .cuerpo .newsletter h2,
.pie_pagina .cuerpo .newsletter p{
    margin-bottom: 15px;
    margin-top: 5px;
    max-width: 40%;
    text-align: center;
    margin: auto;
}
.pie_pagina .cuerpo .newsletter h2{
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 30px;
}
.pie_pagina .cuerpo .newsletter p{
    margin-bottom: 20px;
}
.mensaje_newsletter{
    
}

.pie_pagina .cuerpo .news .input_group{
    margin-bottom: 15px;
    position: relative;
    width: 40%;
    min-width: 240px;
    max-width: 99%;
    margin: auto;
    overflow: hidden;
}
.pie_pagina .cuerpo .news .input_group i{
    position: absolute;
    left: 17px;
    top: calc(50% - 21px);
    font-size: 42px;
}
.pie_pagina .cuerpo .newsletter button{
    padding: 10px;
    font-size: 20px;
    color: #eeeeee;
    background: #0c8044;
    border: 1px solid #0c8044;
    padding: 20px 30px;
    box-shadow: 1px 3px 5px rgba(0,0,0,.08);
    margin-top: 20px;
    border-radius: 3px;
}
.pie_pagina .cuerpo .newsletter button:hover{
    background: #08723b;
    border: 1px solid #08723b;
}
.pie_pagina .cuerpo .news .input_group input{
    width: 100%;
    background: none;
    border: 1px solid #777777;
    border-radius: 3px;
    padding: 20px;
    padding-left: 70px;
    font-size: 16px;
    outline: none;
    color: #cccccc;
}
.pie_pagina .pie{
    margin-top: 20px;
    background: #2f2f2f;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px 0px 30px;
}
.pie_pagina .pie > p{
    margin: 0;
    text-transform: capitalize;
}
.blanco{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: all .7s ease;
}
.blanco.active{
    visibility: hidden;
    opacity: 0;
}
.blanco.active *{
    display: none;
}
.blanco .cargando{
    color: #0c8044;
}
.menu_scroll{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 900;
    box-shadow: 0px 2px 8px rgba(99, 77, 77, 0.28);
    justify-content: center;
    transform: translateY(-70px);
    visibility: hidden;
    height: 65px;
    transition: all .4s ease;
}
.menu_scroll.active{
    transform: translateY(0px);
    visibility: visible;
}
.btn_ir_arriba{
    position: fixed;
    bottom: 15px;
    right: 10px;
    padding: 4px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    outline: none;
    cursor: pointer;
    background: #0c8044;
    color: #fff;
    transform: translateX(60px);
    transition: all .4s ease;
}
.btn_ir_arriba.active{
    transform: translateX(0px);
}
.green{
    color: #0b6939;
}
/* -----------overlay newsletter------------- */
.overlay{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.1);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
}
.overlay.active{
    animation: overlay .6s ease 0s forwards;
}
@keyframes overlay{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
.overlay.active .main_newsletter{
    background: #fff;
    box-shadow: 1px 3px 8px rgba(0,0,0,.5);
    border-radius: 4px;
    width: 600px;
    max-width: 98%;
    padding: 15px;
    background-image: url(../img/home-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 13px 0px;
    animation: main_newsletter 1s ease 0s forwards;
    transform: scale(.5);
    opacity: 0;

}
@keyframes main_newsletter{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.overlay .main_newsletter .header_news{
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
   
}
.overlay .main_newsletter .header_news h3{
    font-family: 'Libre Franklin',sans-serif;
    font-size: 42px;
    line-height: 50px;
    color: #0b6939;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.1 );
    animation: h3_news 2s ease .7s forwards;
    opacity: 0;
    transform: translateY(-30px);
}
@keyframes h3_news{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
}
.overlay .main_newsletter .header_news p{
    font-family: 'Libre Franklin',sans-serif;
    color: #222222;

}
.overlay .main_newsletter .body_news{
    padding: 15px;
}
.overlay .main_newsletter .body_news input[type="text"]{
    display: block;
    padding: 9px 3px;
    margin: 10px auto;
    width: 100%;
    border: none;
    border-bottom: 2px solid #cccccc;
    font-size: 20px;
    outline: none;
    transition: all .3s ease;
}
.overlay .main_newsletter .body_news input[type="text"]:focus{
    border-bottom: 2px solid #08723b;
}
.overlay .main_newsletter .body_news input[type="submit"]{
    margin-top: 20px;
    padding: 18px 35px;
}
/* -----------preloader1 -------------*/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #0c8044;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  #disqus_thread{
      width: 98%;
      margin: auto;
  }

  /* -----------preloader2 -------------*/
  .contenedor_btn_loading{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    visibility: hidden;
    /* margin-left: 50px; */
  }
  .lds-ring.active{
      visibility: visible;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 3px solid #0368c7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0368c7 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* -----------carousel -------------*/

  .carousel_caption_home_home{
      margin: 0;
      top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
  }
  .carousel_caption_home_home{
    animation: carousel_caption_animation 1s ease-out .8s forwards;

  }
  @keyframes carousel_caption_animation{
      0%{
        opacity: .3;
        transform: translateY(-50px);
      }
      100%{
        opacity: 1;
        transform: translateY(0px);
      }
  }
  .carousel_caption_home_home h5{
      font-size: 4em;
      text-shadow: 1px 3px 3px rgba(0,0,0,.6);
  }
  .carousel_caption_home_home p{
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  }

  /* -----------column_info -------------*/

.column_info_container{
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 90px 20px 90px 20px;
    background: #FAFAFA;
    position: relative;
    background: none;


}

/* ---- particles.js container ---- */ 

#particles-js{ 
    position:absolute; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #fafafa;
    z-index: -1;
} 
.column_info_container{
    display: flex;
    justify-content: center;
}
.column_info{
    width: 33.3%;
    padding: 30px;
    margin: 20px;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    opacity: 0;
    max-width: 500px;
}
.column_info_container.active > .column_info:nth-child(2),
#sub_container_valor_mision_vision > .mision{
    animation: animation_column_info_1 1s ease-out .8s forwards;
}
.column_info_container.active > .column_info:nth-child(3),
#sub_container_valor_mision_vision > .valores{
    animation: animation_column_info_2 1s ease-out 1.3s forwards;
}
.column_info_container.active > .column_info:nth-child(4),
#sub_container_valor_mision_vision > .vision{
    animation: animation_column_info_3 1s ease-out .8s forwards;
}
  @keyframes animation_column_info_1{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animation_column_info_2{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes animation_column_info_3{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
  .column_info_imgtop{
      width: 80px;
      display: block;
      margin: 10px auto;
      margin-bottom: 30px;
  } 
  .column_info_title{
      margin-bottom: 30px;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 300;
      color: #1C1C1C;
  }
  .column_info_text{
      font-size: 20px;
      line-height: 30px;
      font-weight: 100;
      color: black;
      margin-bottom: 30px;
  }
  .column_info_button{
    padding: 10px 20px;
    font-weight: 100;
    height: 48px;
    outline: none;

  }
  .column_info_button:hover{
    box-shadow: 1px 4px 5px rgba(0,0,0,.8);
    background: #000;
    border-color: black;

  }
  .column_info_button > i,
  .btn_grid_info > i,
  .btn_paralax > i,
  .quienes_btn > i{
      font-size: 18px;
      padding: 0px 0px 0px 5px;
      transition: all ease .4s;
  }
  .column_info_button:hover > i,
  .btn_grid_info:hover > i,
  .btn_paralax:hover > i,
  .quienes_btn > i{
      transform: translateX(6px);
  }

  /* ---- grid info ---- */
  .grid_info,
  .quienes{
      overflow: hidden;
      display: flex;
      align-items: center;
      margin: 50px 0px;
      position: relative;
      background-image: url('../img/home-bg-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -99px;
      max-width: 1920px;
      margin: auto;
  }
  .grid_info.active .grid_img > img{
      animation: grid_img_animation_1 1s ease-out .2s forwards;
  }
  .grid_info.active .grid_text{
    animation: grid_text_animation_1 .8s ease-out .5s forwards;
  }
  @keyframes grid_text_animation_1{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
  }
  @keyframes grid_img_animation_1{
      0%{
        opacity: 0;
        transform: translateX(-30px);
      }
      100%{
        opacity: 1;
        transform: translateX(0px);
      }
  }
  .grid_info.active .grid_text{
      opacity: 0;
  }
  .grid_info .right,
  .grid_info .left{
    width: 50%;
    margin: 30px;
    padding: 100px 30px;
  }
  .grid_info .grid_img > img{
      width: 100%;
      opacity: 0;
  }
  .grid_text_title,
  .quienes_title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3em;
    color: #1d3a55;
    margin-bottom: 30px;
    padding-right: 40px;
    font-weight: 300;
  }
  .grid_text_text,
  .quienes_text{
    font-size: 20px;
    line-height: 45px;
    color: #888888;
  }

  /* ---- paralax ---- */

  .paralax{
      width: 100%;
      height: 700px;
      background-image: url('../img/paralax.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
  }
  .paralax.active .title_paralax,
  .paralax.active .text_paralax{
    animation: paralax_title_animation 1s ease-out .3s forwards;
  }
  @keyframes paralax_title_animation{
      0%{
        opacity: 0;
        transform: scale(.5);
      }
      100%{
        opacity: 1;
        transform: scale(1);
      }
  }
  .cover_paralax{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(0,0,0,.7);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .title_paralax{
    z-index: 100;
    color: #efefef;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3.5em;
    margin-bottom: 30px;
    opacity: 0;
  }
  .text_paralax{
    z-index: 100;
    font-size: 20px;
    color: #efefef;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
  }
  .btn_paralax,
  .btn_grid_info,
  .quienes_btn{
      padding: 14px 20px;
      border-radius: 3px;
      border: none;
      background: #0c8044;
      color: #fff;
      box-shadow: 1px 3px 5px rgba(0,0,0,.35);
      animation: all ease .4s;
  }
  .btn_paralax:hover,
  .btn_grid_info:hover,
  .quienes_btn:hover{
    background: #0a0a0a;
    color: #fff;

  }

  /* ---- Carousel ---- */

  .carousel_miembros{
      padding: 90px 0px 150px 0px;
      background: #fafafa;
      opacity: 0;
  }
  .carousel_miembros.active{
      animation: carousel_miembros_animation .8s ease-out .3s forwards;
  }
  @keyframes carousel_miembros_animation{
      0%{
        opacity: 0;
      }
      100%{
          opacity: 1;

      }
  }
  .carousel_title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    color: #1d3a55;
    font-weight: 300;
  }
  .carousel__contenedor{
    width: 50%;
    margin: auto;   
    position: relative;
    /* border: 1px solid red; */
    text-align: center;
  }
  .carousel__anterior,
  .carousel__siguiente,
  .carousel_tienda_home_anterior,
  .carousel_tienda_home_siguiente{
      position: absolute;
      top: calc(50% - 12px);
      border: none;
      background: none;
      outline: none;
      font-size: 24px;
      color: #777777;
      transition: all ease .2s;
      padding: 10px;
      background: #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 1;
      box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
      color: #08723b;
  }
  .carousel__anterior:hover,
  .carousel__siguiente:hover,
  .carousel_tienda_home_anterior:hover,
  .carousel_tienda_home_siguiente:hover{
    box-shadow: 0 3px 3px rgb(0 0 0 / 70%);
  }
  .carousel__anterior:hover,
  .carousel__siguiente:hover{
      color: #222222;
  }
  .carousel_anterior_miembros,
  .carousel_siguiente_miembros{
    top: calc(25% - 12px);
  }
  .carousel__anterior:focus,
  .carousel__siguiente:focus{
      border: none;
      outline: none;
  }

.carousel__anterior{
    left: -20px;
}
  .carousel__siguiente{
    right: -20px;
}
.carousel__img{
    border-radius: 50%;
}
.carousel_miembros_nombre{
    margin-top: 20px;
    font-weight: 700;
}
.carousel__indicadores .glider-dot{
    height: 6px;
    width: 30px;
    outline: none;
    display: block;
    background: #cccccc;
    border-radius: 0px;
}
.carousel__indicadores .glider-dot:hover{
    background: #999999;
}
.carousel__indicadores .glider-dot.active{
    background: #0c8044;

}





/* -----------------page contact styles-------------------- */






.paralax_contact{
    width: 100%;
    height: 550px;
    background-image: url('../img/paralax_contact2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.mensaje_respuesta{
    position: fixed;
    left: 20px;
    background: #fff;
    color: #00ac53;
    bottom: 30px;
    padding: 10px;
    display: flex;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0, 0.5);
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
}
.mensaje_respuesta.active{
    animation: mensaje_respuesta_animation .5s ease-out 1s forwards;
    transition: all 1500ms cubic-bezier(0.000, -0.030, 1.000, 1.650); /* custom */
    transition-timing-function: cubic-bezier(0.000, -0.030, 1.000, 1.650); /* custom */
}
@keyframes mensaje_respuesta_animation{
    0%{
        visibility: hidden;
        opacity: 0;
        transform: translateY(200px);
    }
    75%{
        visibility: visible;
        opacity: 1;
        transform: translateY(-10px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}
.mensaje_respuesta > i{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #555;

}
.paralax_contact_title{
    color: #fff;
    font-size: 4em;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 1px 3px 5px rgba(0,0,0,.5);
    opacity: 0;
    animation: contact_title_animation 2s ease .4s forwards;
}
@keyframes contact_title_animation{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.paralax_contact_text{
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 3px 5px rgba(0,0,0,.5);
    width: 70%;
    text-align: center;
    opacity: 0;
    animation: contact_text_animation 2s ease 1s forwards;
}
@keyframes contact_text_animation{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.form_contact_container{
    display: flex;
    background-image: url('../img/home-bg-1.jpg');
    background-size: cover;
}
.info_social_media{
    width: 30%;
    margin: 30px;
}
.info_social_media_title{
    font-size: 24px;
    color: #888888;
    font-weight: 100;
    line-height: 35px;
    margin-bottom: 30px;
}
.show_email{
    font-size: 24px;
    color: #777777;
    display: flex;
    transition: all ease .2s;
    margin-bottom: 50px;
}
.show_email:hover{
    color: #00ac53;
}
.show_email i{
    color: #08723b;
    font-size: 30px;
    margin-right: 5px;
}
.contact_btns_social_media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    transition: all ease-out .2s;
    margin: 0px 2px;
}
.contact_btns_social_media a:hover{
    transform: scale(1.1);
}
.btn_facebook{
    background: #4064ac;
}
.btn_instagram{
    background: #000;
}
.btn_twitter{
    background: #00a7e7;
}
.btn_google_plus{
    background: #d64937;
}
.form_contact{
    margin: 30px;
    width: 70%;
}
.form_contact label{
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #666666;
}
.form_contact_title{
    font-size: 2em;
    color: #777777;
    margin-bottom: 25px;
}
.form_contact_text{
    font-size: 16px;
    color: #888888;
    margin-bottom: 15px;
}
.green{
    color: green;
}
.campo_requerido,
.red{
    color: red;
}

.input_group_contact{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.input_group_contact i{
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    right: 15px;
    display: none;
}
.input_group_contact i.active{
    display: block;
}
.input_group_contact i.fa-check-circle{
    color: green;
}
.input_group_contact i.fa-times-circle{
    color: red;
}
.mensaje_error_form{
    color: red;
    font-size: 20px;
    display: none;
}
.mensaje_error_form.active{
    display: block;
}
.input_group_contact > *{
    display: block;
    overflow: hidden;
}
.input_group_contact input,
.input_group_contact select,
.input_group_contact textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    font-size: 18px;
    outline: none;
}
.input_group_contact input::placeholder,
.input_group_contact select::placeholder,
.input_group_contact textarea::placeholder{
    color: #999999;
}
.input_group_contact input:focus,
.input_group_contact select:focus,
.input_group_contact textarea:focus{
    outline: 1px solid #777;
    border-color: #777;
}
.input_group_contact textarea{
    min-height: 200px;
    resize:vertical;
}
.form_btn_send{
    font-size: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    background: #0368c7;
    color: #ffffff;
    cursor: pointer;
}
.form_btn_send:active{
    transform: scale(.95);
}
.form_btn_send:hover{
    background: #0b5aa3;
}



/* -----------------page us styles-------------------- */


.banner_nosotros{
    width: 100%;
    height: 400px;
    background-image: url('../img/banner_nosotros.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0px;
    position: relative;
}
.cover_banner_nosotros{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(97,97,97);
    background: linear-gradient(360deg, rgba(97,97,97,0) 11%, rgba(18,18,18,0.7203256302521008) 93%);
}
.nosotros_main_title{
    font-size: 3em;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    color: #555555;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    flex-direction: column;
    text-decoration: underline;
}
.valores_mision_vision_container{
    background: #FAFAFA;
    padding: 50px 30px 100px 30px;
}
.sub_container_valor_mision_vision{
    display: flex;
    justify-content: space-between;

}
.sub_container_valor_mision_vision > div{
    width: 32%;
    padding: 30px;
    background: #fff;
    box-shadow: 1px 3px 6px rgba(0,0,0,.2);
    border-radius: 5px;
    opacity: 0;
}
.mision_img,
.valores_img,
.vision_img{
    width: 150px;
    display: block;
    margin: 30px auto;
}
.mision_title,
.valores_title,
.vision_title{
    font-family: 'Noto Sans JP', sans-serif;
    color: #0b6939;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    font-weight: 300;

}
.mision_text,
.valores_text,
.vision_text{
    font-size: 18px;
    line-height: 25px;
    color: #777777;
    text-align: justify;
}
.lista_valores{
    list-style: none;
}
.lista_valores li{
    margin: 8px 0px;
    background: #f5f5f5;
    padding-left: 50px;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    color: #777777;
    font-size: 18px;
}
.lista_valores li span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 15px solid #fff;
    border-width: thick;
    background: #72bd94;
    position: absolute;
    left: -10px;
}

.organigrama_container{
    width: 100%;
    background: #fff;
    padding: 50px 0px 10px 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 2s ease-out;
    transition-delay: .1s;
}
.organigrama_container.active{
    opacity: 1;
}
.organigrama_container img{
    width: 100%;
}
.organigrama_title{
    text-align: center;
    color: #555555;
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 30px 0px;
}

.quienes{
    display: flex;
    width: 100%;
    padding: 50px 20px;
    background-image: url('../img/home-bg-1.jpg');
    background-position: 0 0;
}
.quienes > div{
    width: 50%;
    padding: 20px;
    opacity: 0;
}
.info_quienes.active{
    animation: info_quienes_animation 1.5s ease 1s forwards;
}
.img_quienes.active{
    animation: img_quienes_animation 1.5s ease .3s forwards;
}
@keyframes info_quienes_animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes img_quienes_animation{
    0%{
        opacity: 0;
        transform: translateX(60px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.img_quienes img{
    width: 100%;
    /* border: 1px solid red; */
}
.quienes_title{
    text-transform: uppercase;
    font-size: 3.5em;
}
.quienes_text{
    margin-bottom: 30px;
}
.quienes_btn{
    font-size: 18px;
    transform: translateX(0px);
    transition: all ease .3s;
}
.quienes_btn > i{
    font-size: 22px;
}
.quienes_btn:hover > i{
    transform: translateX(10px);
}

/* -----------------page tienda home carousel styles-------------------- */


.carousel_caption_tieda_home{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
}
.carousel_caption_tieda_home > div{
    width: 50%;
    /* border: 1px solid green; */

}
.caption_child1{
    margin-left: 65px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.title_carousel_pruct_tienda_home{
    text-align: left;
    margin-left: 5px;
    color: #2a3b47;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-right: 20px;
    text-transform: uppercase;
}
.descripcion_product_tienda_home{
    text-align: left;
    margin-left: 5px;
    color: #abb3b5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-right: 20px;
}
.btn_ver_producto_carousel{
    text-align: left;
    display: block;
    width: auto;
    background: none;
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #08964d;
    border: 1px solid #08964d;
    transition: all .25s;
}
.btn_ver_producto_carousel:hover{
    background: #08964d;
    color: #fff;
}
.btn_ver_producto_carousel:active{
    transform: scale(.95);
}
.caption_child2{
    margin-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.caption_child2 > img{
    position: absolute;
    width: 100%;
}
.carousel_control_next_tienda,
.carousel_control_prev_tienda{
    position: absolute;
    width: 35px;
    height: 35px;
    top: calc(50% - 25px);
    background: rgb(243, 243, 243);
    opacity: 1;
    box-shadow: 0 2px 2px rgb(0 0 0 / 16%);
}
.carousel_control_next_tienda > i,
.carousel_control_prev_tienda > i{
    border-radius: 50%;
    text-align: center;
    color: #08723b;
    font-size: 20px;
    line-height: 35px;
    width: 100%;
    height: 100%;
}
.carousel_control_next_tienda > i:hover,
.carousel_control_prev_tienda > i:hover{
    color: #00ae54;

}
.carousel_control_next_tienda{
    right: 30px;
}
.carousel_control_prev_tienda{
    left: 30px;
}
.carousel-indicators{
    top: 103%;
}
.carousel-indicators li{
    background: #cccccc;
    height: 4px;
    border: 0;
    padding: 2px;
    box-sizing: content-box;
    opacity: 1;
}
.carousel-indicators li:hover{
    background: #999999;
    opacity: .8;
}
.carousel-indicators li.active{
    background: #0c8044
}

/* -----------------page tienda styles-------------------- */


.container_categoria{
    width: 100%;
    margin: 30px 0px;
    background-image: url('../img/home-bg-2.jpg');
    background-position: 55px -135px;
    background-size: cover;
    max-width: 1920px;
    margin: auto;
} 
.title_categoria{
    color: #555555;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    margin: 30px;
    font-size: 2.5em;
}
.categoria{
    display: grid;
    gap: 30px;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid #cccccc; */
    margin-bottom: 50px;
}
.categoria_item{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36em;
    box-shadow: 0 19px 38px rgba(0,0,0, 0.3), 0 15px 12px rgba(0,0,0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 4px;
    transition: all .3s ease;
    opacity: 0;
}
.categoria_item.capilares{
    animation: animation_column_info_1 1.3s ease .5s forwards;
}
.categoria_item.piel{
    animation: animation_column_info_2 1.3s ease .5s forwards;
}
.categoria_item.bisuteria{
    animation: animation_column_info_3 1.3s ease .5s forwards;
}
.categoria_item:hover{
    box-shadow: 0 19px 38px rgba(0,0,0, 0.4), 0 15px 12px rgba(0,0,0, 0.3);
    transform: scale(1.025);

}
.categoria_item h2{
    color: #fff;
    text-shadow: 1px 3px 5px  rgba(0,0,0, 0.9);
    font-size: 2em;
    text-align: center;
}
.capilares{
    background-image: url('../img/img_capilar.jpg');
}
.piel{
    background-image: url('../img/img_piel.jpg');
}
.bisuteria{
    background-image: url('../img/img_bisuteria.jpg');
}

/* -----------------page tienda carousel-------------------- */

.carousel_container_all_wraper{
    background: #fdfdfd;
    padding: 50px 0px;
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

.carousel_tienda_home{
    padding: 0% 4%;
    position: relative;
    margin-bottom: 70px;
}
.carousel_tienda_home_title{
    font-size: 1.8;
    margin-bottom: 15px;
    color: #697477;
}
.carousel_tienda_home_contenedor{
    position: relative;

}
.carousel_tienda_home_indicadores{
    position: absolute;
    top: 0px;
    right: 4%;
}
.carousel_tienda_home_indicadores .glider-dot {
    border-radius: 0px;
    height: 5px;
    width: 25px;
    margin: 0px 3px;
    transition: all ease .1s;
}
.carousel_tienda_home_indicadores .glider-dot:hover{
    background: #999999;
}
.carousel_tienda_home_indicadores .glider-dot.active{
    background: #0c8044;
}
.carousel_tienda_home_anterior{
    left: -20px;
    cursor: pointer;
}
  .carousel_tienda_home_siguiente{
    right: -20px;
    cursor: pointer;
}
.carousel_tienda_home_elemento{
    margin: 8px;
    background: #fff;
    box-shadow: 1px 3px 4px rgba(0,0,0, 0.3);
    border-radius: 4px;
    overflow: hidden;
    height: 440px;
    position: relative;
}
.carousel_vend_recomendados{
    height: 380px;
}
.header_img_card{
    height: 43%;
    overflow: hidden;
}
.header_img_card img{
    transition: all ease .3s;
}
.carousel_tienda_home_elemento:hover .header_img_card img{
    transform: scale(1.1);
}
.carousel_tienda_home_elemento:hover .elemento_tienda_home_title{
    color: #08964d;
}
.body_elemento_tienda_home{
    padding: 10px;
}
.elemento_tienda_home_title{
    color: #697477;
    font-weight: normal;;
    font-size: 1.2em;
    margin: 15px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.elemento_tienda_home_text{
    color: #979b9e;
    line-height: 26px;
    font-family: 'Noto Sans JP', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.container_vendedor_y_precio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
.container_vendedor_y_precio > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.container_vendedor_y_precio .precio_producto{
    color: #111111;
    font-weight: bold;
}


/* -----------------page categoria productos-------------------- */


.wraper_grid_products,
.container_producto{
    background: #fbfbfe;
    padding: 40px 0px;

}
.wraper_grid_products_panel{
    background: #fff;
}
.grid_products{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.indicador_ruta{
    width: 90%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .9em;
    font-family: 'Noto Sans JP', sans-serif;
}
.indicador_ruta.galeria{
    margin-top: 20px;
}
.indicador_ruta.galeria a{
    color: #0d6efd;
    text-transform: capitalize;
}
.indicador_ruta_enlace{
    display: flex;
    margin-bottom: 15px;
}
.title_categoria_product,
.title_producto{
    margin-bottom: 30px;
    font-size: 2em;
    text-align: left;
    margin-top: 0px;
    text-transform: uppercase;
    color: #697477;
    font-weight: 900;
}
.title_resultado_busqueda{
    margin-left: 5%;
}
.title_resultado_busqueda > span{
    color: #08723b;
}

.tarjeta_producto_categoria{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 3px 4px rgba(0,0,0, 0.3);
    overflow: hidden;
    background: #fff;
    border-radius: 7px;
    height: 440px;
    position: relative;
}
.producto_busqueda{
    height: 380px;
}
.tarjeta_producto_categoria .header_img_card img{
    width: 100%;
}
.tarjeta_producto_categoria:hover .header_img_card img{
    transform: scale(1.1);
}

/* -----------------page 404-------------------- */

.title_404{
    text-align: center;
    font-weight: 900;
    color: #0c8044;
    margin: 30px;
    font-size: 3em;
}
.img_404{
    width: 60%;
    margin: -40px auto;
    display: block;

}
.regresar_404{
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    background: #0c8044;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 1.1em;
    color: #ffffff;
    box-shadow: 1px 4px 5px rgba(0,0,0, 0.2);
    transition: all ease .3s;
}
.regresar_404:hover{
    background: #08964d;
}
.icon_back_404{
    margin-left: 10px;
}

/* -----------------page producto-------------------- */

.container_producto{
    width: 100%;
}
.sub_container_producto{
    /* border-bottom: 1px solid #eeeeee; */
    display: flex;
    width: 90%;
    /* border: 1px solid green; */
    margin: auto;    
}
/* .indicador_ruta_producto{

} */
.img_producto{
    width: 60%;
    /* border: 1px solid red; */
}
.container_img_producto{
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    /* box-shadow: 1px 2px 4px rgba(0,0,0, 0.3); */
}
.container_img_producto img{

    transition: all ease .3s;
}
.container_img_producto:hover img{
    transform: scale(1.05);
}
.info_producto{
    height: auto;
}
.title_producto{
    margin: 0px;
    width: 95%;
    color: #2a3b47;
}
.descripcion_producto{
    color: #777777;
    width: 95%;
    line-height: 30px;
}
.precio_producto_pagina_producto{
    display: block;
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 30px;
    color: #444444;
}
.btn_contactar_vendedor{
    color: #fff;
    padding: 15px 25px;
    border-radius: 4px;
    background: #24cc63;
    transition: all ease-out .3s;
    margin-bottom: 30px;
    display: inline-block;
    box-shadow: inset 0 -.2em rgba(0,0,0, 0.15);
}
.btn_contactar_vendedor:active{
    transform: scale(.95);
}
.btn_contactar_vendedor:hover{
    background: #25b45c;
    color: #fff;

}
.img_vendedor_producto{
    display: flex;
    align-items: center;
}
.img_vendedor_producto img{
    width: 55px;
    border-radius: 50%;
}
.nombre_vendedor{
    margin: 0px;
    margin-left: 10px;
    font-weight: bold;
    color: #697477;
    text-transform: capitalize;
}

.container_redes_vendedor{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    /* margin-left: 60px; */
}
.enlace_red_social_vendedor{
    padding: 10px 20px;
    border: 1px solid #cccccc;
    margin: 5px;
}
.wraper_carousel_info_vendedor{
    display: flex;
    background: #fbfbfe;
    /* border: 2px solid blue; */
    padding: 30px 2.5%;
}

.container_carousel_producto_recomendado_producto{
    width: 65%;
    /* border: 1px solid red; */
    background: #ffffff;
    border: .3px solid #e7ebed;
    margin: 0px;
    padding: 15px;
    border-radius: 7px;
}
.carousel_producto_recomendado_producto_lista{
    padding: 0px;
}
.elemento_tienda_home_title.page_productos{
    margin: 8px 0px;
}
.elemento_tienda_home_text.page_productos{
    margin-bottom: 20px;
    line-height: 20px;
}
.info_vendedor{
    width: 35%;
    background: #ffffff;
    border: 1px solid #e7ebed;
    margin: 0px 10px;
    border-radius: 7px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    padding: 20px;
}
.container_img_info_vendedor img{
    border-radius: 50%;
    /* border: 1px solid #e0e5e7; */
    width: 100px;
    display: block;
    margin: auto 10px;
    /* box-shadow: 1px 2px 3px rgba(0,0,0, 0.15); */
}
.container_img_info_vendedor .nombre_vendedor_info_vendedor{
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    text-transform: capitalize;
    color: #2a3b47;
}






.overlay.mas_info{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.4);
    opacity: 0;
    display: none;
    transition: all .2s;
}
.overlay.mas_info.active{
    display: flex;
    opacity: 1;
}
.overlay.mas_info > div{
    display: block;
    background: #fff;
    width: 65%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0,0,0, 0.5);
    overflow-y: scroll;
    padding: 30px 0px;
    position: relative;
    opacity: 0;
    display: none;
}
.overlay.mas_info > div h4,
.overlay.mas_info > div h5{
    color: #333;
}
.overlay.mas_info > div.active{
    animation: mas_info_animation .3s ease-out .2s forwards alternate;
    display: block;
}
@keyframes mas_info_animation{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
}
.mas_info_img_que_es_un_emprendedor{
    width: 155px;
    display: block;
    margin: 10px auto;
}
.mas_info_title_que_es_un_emprendedor{
    text-align: center;
    margin: 20px auto;
    font-size: 2.3em;
    text-transform: uppercase;
    max-width: 75%;
}

.mas_info_text_que_es_un_emprendedor{
    padding: 20px 10%;
    color: rgb(109, 111, 119);
    font-size: 20px;
    line-height: 30px;
}
.cerrar_mas_info{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(109, 111, 119);
    transition: all ease .3s;
}
.cerrar_mas_info:hover{
    color: #000;
}

.w-100{
    min-height: 250px;
    object-fit: cover;
}

.contenedor_imgs{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    width: 90%;
    max-width: 1920px;
    margin: auto;
}
.contenedor_imgs img{
    max-width: 100%;
    object-fit: contain;
}
.imgs_sub{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.overlay_newsletter{
    background: rgba(0,0,0,.5);

}
.newsletter_popup{
    background: #fff;
    position: relative;
    padding: 30px;
    box-shadow: 1px 5px 20px rgba(0,0,0, 0.2);
    border-radius: 5px;
    text-align: center;
}
.newsletter_popup > h2{
    font-size: 46px;
    margin-bottom: 25px;
}
.newsletter_popup > p{
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}
.newsletter_popup > button{
    display: block;
    margin: auto;
    padding: 10px 40px;
    font-size: 1.2em;
    border: none;
    background: #dedede;
    border-radius: 3px;
    margin-bottom: 25px;
}
.newsletter_popup > button:hover{
    background: #888888;
}
.newsletter_popup > button:active{
    transform: scale(.9);
}
.newsletter_popup > label{
    font-size: .9em;
    color: #888888;
}
.input_group_newsletter{
    border: 1px solid #cccccc;
    width: 80%;
    height: 45px;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
}
.input_group_newsletter i{
    position: absolute;
    left: 12px;
    color: #555;
    font-size: 20px;
    line-height: 20px;
    top: calc(50% - 10px);
}
.input_group_newsletter input{
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 40px;
}
.newsletter_popup > img{
    width: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}



